config.stopBubbling = true
lombok.tostring.callsuper=CALL
lombok.equalsandhashcode.callsuper=CALL
lombok.getter.noisprefix = false
# 没有 setter 的配置，只有 getter 的配置，配置了 getter，lombok 是只会对 boolean 的基本类型（boolean，不是包装类），is 开头的字段才会取消前缀，而配置了这个，boolean（基本类型）is 开头的字段，生成的方法还是会去掉 is 前缀
#lombok.setter.noIsPrefix = false