package ${generatorBo.packageName}.${generatorBo.moduleName}.domain;

import com.baomidou.mybatisplus.annotation.IdType;
import com.baomidou.mybatisplus.annotation.TableId;
import ${generatorBo.packageName}.${generatorBo.moduleName}.enums.${tablesBo.className}Enums;
import lombok.Data;
import lombok.experimental.FieldNameConstants;

import java.io.Serializable;
#foreach ($importClass in $tablesBo.importList)
import ${importClass};
#end

/**
 * ${tablesBo.tableComment} 对象 ${tablesBo.tableName}
 *
 * @author ${generatorBo.author}
 * @date ${generatorBo.datetime}
 */
@Data
@FieldNameConstants
public class ${tablesBo.className} implements Serializable{

private static final long serialVersionUID=1L;

#foreach ($columnBo in $columnsBos)
/**
 * ${columnBo.columnName}
 * ${columnBo.columnComment}
 */
    #if(${columnBo.primaryKey})
    @TableId(type = IdType.AUTO)
    #end
    #if(${columnBo.isEnum})
    private ${tablesBo.className}Enums.${columnBo.enumName} ${columnBo.javaFiled};
    #else
    private ${columnBo.javaFieldType} ${columnBo.javaFiled};
    #end

#end
}
